*{ margin: 0; padding: 0; font-family: calibri; }

.headerContents{
	background-color: green;
	color: #fff;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.navbar{
	display: flex;
	height: 80px;
	justify-content: space-between;
	width: 100%;
	max-width: 1600px; 
	margin: 0 auto;
}

.navigationBar{
	padding: 20px 10px 4px 1px;
	margin-top: -20px;
	display: flex;
	flex-direction: row;
}
/*.navbar ul li ul li{ display: none; width: 95px; color: #fff; opacity: 100; background-color: #27C404; }*/

.categories{ text-align: center; padding: 8px; display: flex; }

.lineNavigationBar{
	background-color: green;
	width: 100%;
	max-width: 1600px; 
	margin: 0 auto;
	display: flex;
}
.navitems ul li ul {
	list-style: none;
	display: none;
	width: 180px;
	margin-left: -8px;
	margin-top: 7px;
	background-color: lightgray;
	transition-duration: .5s;
}
.ulitems ul li ul li{ display: none; width: 95px; color: #fff; opacity: 100; background-color: #27C404; }
ul li:hover ul li{ display: block; border-radius: 0px; }


ul li{ 
	transition-duration: .5s;
}

.ulitems{
	margin-left: 360px;
	list-style: none;
	display: flex;
}

.ulitems a{
	text-decoration: none;	
}
.ulitems li:hover{
	transition-duration: .5s;
}
.ulitems li ul li:hover{
	/*background-color: #22334414;*/
	/*padding: 10px;*/
}

.ulitems li{
	font-family: calibri;
	font-size: 18px;
	padding: 6px;
	color: #fff;
	list-style: none;
}

#navsmallico{
	height: 30px;
	width: 30px;
	border-radius: 100px;
}

a{ text-decoration: none; color: #000; }
#SignIn:hover { text-decoration: underline; }
/*.brandLogo a h1{
	height: 80px; width: 80px;
	font-size: 28px;
	padding: 10px 0px 0px 20px;
	color: green;
}*/

.searchbar input{
	margin-left: 240px;
	background-color: #22334414;
	font-size: 18px;
	padding: 8px;
	width: 600px;
	border-radius: 10px;
}

.products{
	background-color: lightgray;
	margin-bottom: 10px;
}

.prodItems{
	display: flex;
	padding: 10px;
	justify-content: center;	
}
.prodItems li{
	width: 100px;
	text-decoration: none;
	list-style: none;
	text-align: center;
	justify-content: center;
}

.prodItems a{
	text-decoration: none;
	list-style: none;
	color: gray;
}
.prodItems ul li a{	
	text-align: center;
	justify-content: center;
}
.prodItems li a:hover{
	color: green;
	transition-duration: .5s;
}
.prodItems li:hover{
	transform: scale(1.1,1.1);
}

#smallico{
	height: 40px;
	width: 40px;
	border-radius: 100px;
}

footer{
	bottom: 0;
}
